.script-1 {
  font-family: 'Fondamento', cursive;
}

.script-2 {
  font-family: 'Mr Dafoe', cursive;
}

.blocky-1 {
  font-family: 'Permanent Marker', cursive;
}

.blocky-2 {
  font-family: 'Rock Salt', cursive;
}